<%#  provide(:title, 'Forgot your password?')  %>
<!-- <h2 style="text-align:center;">Forgot password?</h2>
<div  class="row">
    <div  class="col-md-6 col-md-offset-5">
 -->


  <%#= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%#= devise_error_messages! %>

  <!-- <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true %>
  </div> -->

 <!--  <div class="actions">
    <%#= f.submit "Send me reset password instructions", class:  "btn  btn-primary" %>
  </div> -->
<%# end %>

  


<%#= render "devise/shared/links" %>
 <!--    </div>
</div> -->


<%#  provide(:title, 'Log in')  %>
<!-- <h1 style="text-align:center;">Login</h1>
<div  class="row">
    <div  class="col-md-6 col-md-offset-5"> -->
        <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do  |f| %>
            <%#= f.label :email,autofocus: true  %>
            <%#= f.email_field :email  %>
            <%#= f.label :password %>
            <%#= f.password_field  :password, autocomplete: "off" %>

            <%# if devise_mapping.rememberable? -%>
   
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
      <%#  end   %>
   
          
      <%#= f.submit  "Log in", class:  "btn  btn-primary"  %>
        <%#  end   %>


<%#= render "devise/shared/links" %>
  <!--   </div>
</div> -->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/services">Services</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/portfolio_1_col">1 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="/portfolio_2_col">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="/portfolio_3_col">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="/portfolio_4_col">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="/portfolio_item">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/blog_home_1">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="/blog_home_2">Blog Home 2</a>
                            </li>
                            <li>
                                <a href="/blog_post">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li>
                                <a href="/full_width">Full Width Page</a>
                            </li>
                            <li>
                                <a href="/sidebar">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="/faq">FAQ</a>
                            </li>
                            <li>
                                <a href="/error_404">404</a>
                            </li>
                            <li>
                                <a href="/pricing">Pricing Table</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Log In Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row">
            <div class="col-md-8">
                <h3>Forgot Password?</h3>
                <!-- <form name="sentMessage" id="contactForm" novalidate> -->
                
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  									<%= devise_error_messages! %>
                    
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email:</label>
                           
                            <%= f.text_field :email, :id=>"email", :class=>"form-control"%>
                             
                            <!-- <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address."> -->
                        </div>
                    </div>               
                    
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Send me password reset instructions</button>

                <% end %>
                
                <%= render "devise/shared/links" %>
            </div>

        </div>
        <!-- /.row -->

      
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <script src="jqBootstrapValidation.js"></script>
    <!-- <script src="contact_me.js"></script> -->

</body>

</html>



